@model IQueryable<Category>

<li>
    <a asp-controller="Product" asp-action="Index"></a>
    <ul>
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Product" asp-action="List" asp-route-currentCategory="@category.Name">@category.Name</a>
            </li>
        }
        <li>
            <a asp-controller="Product" asp-action="List" asp-route-Category="">All categories</a>
        </li>
    </ul>
</li>