@model Category
<div class="col-sm-4 col-md-4 col-lg-4">
    <div class="img-thumbnail">
        <img src="@Model.ThumbnailUrl" class="rounded mx-auto d-block" />
        <div class="caption">
            <h3 class="text-center">
                <a asp-controller="Product" asp-action="List" asp-route-currentCategory="@Model.Name">@Model.Name</a>
            </h3>
        </div>
    </div>
</div>


