@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
        <a>
            <img src="~/images/svg/shopping_cart-white-18dp.svg" alt="Shopping cart" width="24" height="24" class="mx-0" />
            <span>
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}